@import '../../../styles/mixins';

.nav-bar {
    color: #b5b5b5;
    width: 280px;
    background-color: #25272A;
    height: 100%;
    
    .icon {
        font-size: 18px;
        opacity: 0.6;
        cursor: pointer;
    }

    .downIcon {
        font-size: 13px;
        opacity: 0.6;
        cursor: pointer;
    }

    .threads {
        margin-bottom: 30px;
        width: 229px;
        margin-left: 26px;
        @include flex(row, '', space-between);

        &-all > :first-child {
            margin-right: 10px;
        }
    }

    .nomadHeader {
        width: 229px;
        margin-left: 26px;
        padding: 36px 0 30px 0;
        @include flex(row, '', space-between);
        color: #ffffff;
    }

    .channels {
        @include flex(column, '', '');
        flex: 1 1 auto;
        height: 40%;
        width: 229px;
        margin-left: 26px;
    
        > div {
            margin-bottom:10px;
        }

        .channelsHeader {
            @include flex(row, '', space-between);
            font-size: 12px;
            line-height: 14px;
            color: #919191;
        }

        .channelsList {
            @include flex(column, '', '');
        
            & > .item {
                padding: 5px 10px 5px 15px;
                margin-right: 15px;
                @include flex(row, '', space-between);

                & a, & .text {
                    color: #b5b5b5;
                    text-decoration: none;
                }
        
                a:first-child {
                    width: 100%;
                }
        
                .icon {
                    opacity: 1;
        
                    &.added {
                        color: #ffffff;
                        margin-left: 15px;
                    }
                    &.text {
                        display: none;
                        margin-left: 5px;
                    }
                }
        
                &:hover, &.open {
                    cursor: pointer;
                    background: rgba($color: #ffffff, $alpha: 0.2);
                    border-radius: 5px;
            
                    &:hover {
                        .icon {
                            display: inline-block;
                        }
                    }
            
                    a, .text {
                        color: #ffffff
                    }
                }
            }
        }
    }
}